<h1>Bookings for <%= link_to(@play.name, @play) %></h1>

<table>

    <thead>
    <tr>
      <td>Name</td>
      <td>How Heard</td>
      <td>At</td>
    </tr>
    </thead>
<tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.user.name %></td>
      <td><%= booking.how_heard %></td>
      <td><%= time_ago_in_words(booking.created_at) %> ago</td>
    </tr>
  <% end %>
</tbody>
</table>